body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.center {
  text-align: center !important;
margin: auto !important;
} 

.center-all *
{
  text-align: center !important;
  margin: auto !important;
}

.bord {
  border-style: solid; 
  border-width: 2px;
  color: black;
}