# global
*.log

# ASP.Net Core
Debug/
Release/
obj/
*.db
out/
WeatherStation.Api.Core.log
*.out

# Angular
**/assets/config.json
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

#g++
*.o
*.h.gch
WeatherStation.SensorRecorder/WeatherStation.SensorRecorder

# IDE
.idea/
.vscode/
