<div id="wrapper" class="toggled">
    <app-sidebar></app-sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
                <div class="col-md-12 col-md-offset-6">
                    <img src="../assets/meteo.png">
                </div>   
                <div class="row">
                  <div class="col-xs-12">
                      <app-last-record broadcaster="pine64"></app-last-record>
                      <!-- <app-last-record broadcaster="broadcasterTest"></app-last-record> -->
                        
                  </div>
                </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->